.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.bk
config.h.in
config.h.in~
config.log
config.o
config.status
config.sub
configure
depcomp
install-sh
ip_list.o
libtool
log.o
ltmain.sh
m4/
main.o
missing
pattern_list.o
rewrite.o
stamp-h1
util.o
jesred
